<style type="text/css">
.m_temp.c1, .m_temp.f {display:none;}
.measure.c .m_temp.c {display:inline;}
.measure.f .m_temp.f {display:inline;}

.m_press.torr1, .m_press.hpa, .m_press.inch {display:none;}
.measure.torr .m_press.torr {display:inline;}
.measure.hpa .m_press.hpa {display:inline;}
.measure.inch .m_press.inch {display:inline;}

.m_wind.ms1, .m_wind.mih, .m_wind.kmh {display:none;}
.measure.ms .m_wind.ms {display:inline;}
.measure.mih .m_wind.mih {display:inline;}
.measure.kmh .m_wind.kmh {display:inline;}
</style>
