body {padding-top: 60px;padding-bottom: 40px; min-width: 940px;}
.sidebar-nav {padding: 9px 0;}
.navbar, .navbar-inner {min-width: 940px;}
.navbar .nav > li > a {color: #eee;}

h3{margin: 10px 0;}

.accordion-group {margin-bottom: 0;border: none;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.accordion-heading .accordion-toggle {display: block;padding: 10px 0;}
.accordion-inner {padding: 0;border-top:none;}
.accordion {margin-bottom: 0px;}

.control-group.error input:invalid, .control-group.error select:invalid, .control-group.error textarea:invalid {background-color: #fde2e7;}
.control-group.error input:valid, .control-group.error select:valid, .control-group.error textarea:valid {border-color: #ccc;background-color: #d8fde6;color: #555;}


.subnav {
width: 100%;
height: 36px;
border: 1px solid #E5E5E5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background-color: #EEE;
background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='whiteSmoke', endColorstr='#EEE',GradientType=0 );
}
.subnav-fixed {
position: fixed;
top: 40px;
right: 0;
left: 0;
z-index: 1020;
border-width: 0 0 1px;
border-color: #D5D5D5;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
-moz-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
padding-left: 12px;
border-left: 0;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
padding-left: 13px;
border-right-color: #DDD;
border-left: 0;
background-color: #E9E9E9;
-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
color: #777;
}
.subnav .nav > li > a {
margin: 0;
padding-top: 11px;
padding-bottom: 11px;
border-right: 1px solid #E5E5E5;
border-left: 1px solid whiteSmoke;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.subnav.listsubmenu {margin-bottom: 20px;}
.listsubmenu .pull-right li {float: left;}


.type-file{width: 59px;}

.table-list{width: auto;}
.table-list th,.table-list td{padding: 3px;}
.table-list input select {margin-bottom: 0; padding: 2px 3px; height: 19px;}
.table-list .but1{width: 28px;}
.table-list .but3{width: 84px;}
.table-list .hidden {display: none;}
.table-list .tab-content > .active, .pill-content > .active {display: table-row;width: auto;}
.table tbody tr:hover td {background-color: #e3effd;}
.table-list tr:hover .hidden {display: block;}
.table-list th .text { margin-bottom: 0;width: 95%;}
.table-list-add {background-color: #d0fcd8;}
.table-list-filter {background-color: #b8dbfc;}
.table-list .tab-content {display: table-header-group;width: 100%;}
.tdfile a, .tdfile input, .tdfile button {float: left; margin: 0 5px;}
.input-append{float: left;margin: 0;width: 29px;height: 21px;}

.row.form-actions{margin-left: 0}

#preview{position:absolute;border:1px solid #ccc;background:#333;padding:5px;display:none;color:#fff;}
