body {
  background: #123;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

p {
  /*border: 1px solid #666;*/
  overflow: hidden;
  padding: 10px 0;
  margin: 5px;
  /*text-align: center;*/
}

.container_12,
.container_16,
.container_24 {
  background-color: #fff;
  /*background-repeat: repeat-y;*/
  margin-bottom: 20px;
}

/*
.container_12 {
  background-image: url(../img/12_col.gif);
}

.container_16 {
  background-image: url(../img/16_col.gif);
}

.container_24 {
  background-image: url(../img/24_col.gif);
}
*/

/* table
----------------------------------------------- */
table {
	width:100%;
	border:1px solid #bbb;
	margin-bottom:10px;
}
col.colC {
	width:8em;
}
th, td {
	padding:.2em 1em;
	text-align:left;
}
thead th {
	border-bottom:2px solid #888;
	background:#bbb;
	padding:.4em 1em .2em;
}
thead th.table-head {
	font-size:1em;
	font-weight:normal;
	text-transform:uppercase;
	color:#fff;
	background:#555;
	border:1px solid #555;
}
tbody th,
tbody td {
	border:1px solid #bbb;
	background:#eee;
}
tbody tr.odd th,
tbody tr.odd td {
	background:#fff;
}
tfoot th,
tfoot td {
	border-top:2px solid #666;
	background:#eee;
}
tfoot tr.total th,
tfoot tr.total td {
	border-top:6px double #666;
}
tfoot tr.total th {
	text-transform:uppercase;
}
th.currency,
td.currency {
	text-align:right;
}

.ab {
	padding:5px;
}
.ab-graph {
	height:245px;
	padding:5px;
}
.ab-graph-val {
	font-size:14pt;
	font-weight:200;
	color: #251dc6;
	float:right;
	margin-right:20px
}

.alb , .alb-txt{
	overflow: hidden;
	zoom: 1;
}

.alb div {
	text-align: center;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px dotted #298DC1;
	padding-top: 5px;
	padding-left: 5px;
	height: 110px;
}
.alb div img , .alb-txt div img{
	margin-right: 5px;
	height: 100px;
}
